@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* font-family: 'Open Sans', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    font-family: 'Open Sans', sans-serif; 
}
header{
    height: 50vh;
    width: 100%;
    background: linear-gradient(to right, rgb(69, 236, 167), rgb(15, 52, 67));
}

.navbar .navbar-toggler-icon {
    background: hsl(153, 89%, 31%)!important;
    border-radius: 3px;
    background-image: url(/images/menu.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    }
    .navbar .navbar-toggler-icon:active{
        background: hsl(153, 92%, 19%)!important;
    }
.burger{
    color: green !important;
}
.link {
    color: rgb(11, 148, 59) !important;
}

nav {
    background-color: #fafffa;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.div-a-propos{
    height: 37.8vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-a-propos h2{
    color: #fff;
}
.div-img-a-propos{
    background-image: url(/images/Mosque\ online\ service-pana.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    height: 37.8vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a-propos-social{
    background-color: #e4e7e46d !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.list-social {
   padding: 1rem;
}
.list-social{
   padding: 0;
   margin: 10px;
}
.list-social li{
    list-style: none;
}
.list-social li a{
   text-decoration: none;
}
.social-icons{
width: 23px;
margin-top: 1.7rem;
}

.titre-social-icon{
    font-size: 20px;
}
.titre-text-about{
    color: #0f3442;
}
.lien:hover{
    color: rgba(11, 100, 42, 0.731) !important;
    font-weight: bolder;
 }

@media screen and (min-width:992px) {
    .nav-item {
        line-height: 80px;
    }
    .navbar-nav li .active{
        padding: 0 10px !important;
        color: #e7f6d3 !important;
        background-color: #34a66b!important;
        font-weight: 600;
        border-radius: 20px 0px 20px 0px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      }
}
